# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Local data & secrets
data/**
!data/.gitkeep
.env
config.yaml

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
